In [49]:
amt_a = 263000
amt_b = 6800
qty_a = 20
qty_b = 100

amt_sum = ((amt_a * qty_a) + (amt_b * qty_b))
amt_out = format(amt_sum, ",")

print ("주식자산총계: %s원" % (amt_out))

주식자산총계: 5,940,000원

In [50]:
buy_amt = 42000
cur_amt = 45000

bef_amt = (cur_amt - buy_amt)
bef_pst = bef_amt / buy_amt
bef_pst *= 100

print ("수익률(%%): %f" % (bef_pst))

수익률(%): 7.142857

In [46]:
str_a = "Hello, Python"

for _ in range(5):
    print(str_a)

Hello, Python
Hello, Python
Hello, Python
Hello, Python
Hello, Python

In [57]:
a = "Hello, World"

a = a.replace("World","Python")
print(a)

Hello, Python

In [61]:
AAPL = [156.41, 162.71, 164.34, 167.37, 172.99, 172.43, 171.85, 171.07, 172.50, 175.50]

print('최고가 = ', max(AAPL))
print('최저가 = ', min(AAPL))
print('평균가 = ', sum(AAPL) / len(AAPL))

최고가 =  175.5
최저가 =  156.41
평균가 =  168.71699999999998

In [49]:
AAPL = [156.41, 162.71, 164.34, 167.37, 172.99, 172.43, 171.85, 171.07, 172.50, 175.50]
temp = 0
accu = 0

for idx, i in enumerate(AAPL):
    if idx == 0:
        print("<일일 수익율(%)>")
        print("%2d 일: %+.2f" % (idx + 1, 0))
    else:
        temp = AAPL[idx - 1]
        temp = (i - temp) / temp * 100
        accu += temp
        print("%2d 일: %+.2f" % (idx + 1, temp))

temp = accu / (len(AAPL) - 1)
print("\n<평균 수익율(%)>")
print("%+.2f" % (temp))

<일일 수익율(%)>
 1 일: +0.00
 2 일: +4.03
 3 일: +1.00
 4 일: +1.84
 5 일: +3.36
 6 일: -0.32
 7 일: -0.34
 8 일: -0.45
 9 일: +0.84
10 일: +1.74

<평균 수익율(%)>
+1.30

In [51]:
def range_sum(a = None, b = None):
    """
    두 개의 정수값 a, b를 전달 받아 a부터 b까지 합산한 결과를 반환하는 함수
    """
    
    if a is None or b is None:
        return "첫번째 또는 두번째 값이 없습니다!"
    
    if type(a) != int:
        return "첫번째 값이 정수가 아닙니다!"
    
    if type(b) != int:
        return "두번째 값이 정수가 아닙니다!"
    
    if a > b:
        return "첫번째 값이 두번째 값 보다 큽니다!"
    
    total = 0
    
    for x in range(a, b + 1):
        total += x

    return str(total)

s = range_sum(1, 10)
print(s)

55

In [52]:
file_list = [i**2 for i in range(1, 10 + 1)]
file_name = "out.txt"

with open(file_name, "wt") as f:
    f.write(str(file_list))

with open(file_name, "rt") as f:
    file_contents = f.read()
    
print(file_contents)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]